@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700');

/* base styles */
body {
  font-family: 'Nanum Gothic Coding', sans-serif;

}
h1{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
}

ul {
  list-style-type: none;
}